/*********************************
 * Coming from settings.php & lib.php
***************************** */
/*Default Background*/
#page-site-index, #page-login-index{
	background-image: url([[pix:theme|defaultbackground]]);
	background-repeat:repeat;
	background-size:initial;
}

/*Overide Background default*/


[[setting:backgroundimage]]

/*Custom color*/

#course-category-listings h3, p ,
a, a:hover, a:focus{
	font-size:18px;
	color: #fff;
}

#page-content .box a,
.logininfo a,.breadcrumb li a {
	color: [[setting:blockiconcolor]];
}
.loginbox .loginsub, .loginbox .guestsub, .loginbox .forgotsub, .loginbox .potentialidps{
    border-top: 1px solid  [[setting:blockiconcolor]];
}
.block{
	background:transparent;
}
#dock .dockedtitle,
.block .content{
	background-color:[[setting:blockiconcolor]];
}
.block.hidden:before{
	color:[[setting:blockiconcolor]];
}



/*****************
******************/

#page-site-index, #page-login-index{
	background-position: center center;
	background-attachment: fixed;
}	
body {
	font-size:18px;
	padding-top:0;
	padding-bottom:2.5em;
}
#page-header {
	padding-top: 48px;
}
h2, h3{
	text-align: center;
}
h4{
	font-size:18px;
}
.block:before{
	color:grey;
}
#region-main, #region-main h2, .category.loaded, .form-item,
.coursebox .odd, .course_category_tree .category > .info, .course_category_tree .category > .content {
	background: none repeat scroll 0 0 rgba(65, 65, 65, 1);
	color: white;
}
#page-site-index .category.loaded,
#page-login-index #region-main {
    background: none repeat scroll 0 0 rgba(65, 65, 65, 0.2);
}
#page-site-index .category h3{
	border:none;
}
#course-category-listings .listing-actions,
#course-category-listings li[data-selected="1"] > div,
.coursebox.clearfix.even {
	background:rgba(75, 75, 75, 1);
	border-radius:0;
}
.courses .coursebox:hover, 
.course_category_tree .courses > .paging.paging-morelink:hover.courses .coursebox:hover, 
.course_category_tree .courses > .paging.paging-morelink:hover,
.section li.activity:hover,
#course-category-listings li > div:hover 
{
	background:rgba(85 ,85 , 85 ,1);
}
#page-content .box p{
	color:rgba(65, 65, 65, 1);
}


/* Menu additionnel */

.course_category_tree .category > .info > .categoryname{
margin:0;
}
.moodle-actionmenu.show[data-enhanced] .menu {
    background-color: #aaa;
    box-shadow: none;
}

/* Couleur Dock */

#dockeditempanel .dockeditempanel_content {
	background-color: #aaa;
	border: medium none;
	box-shadow: none;
	color: white;
	width: 384px;
}
#dock .dockedtitle h2,
#dockeditempanel .dockeditempanel_content a{
	color:white;
}

/* Correctif page d'accueil */

#page-site-index #region-main,#page-site-index #region-main h2 {
	background:none;
}
#frontpage-category-names h2{
	color:transparent;
}
.headingblock.header{
	display: none;
}
.form-buttons{
	background:none;
}
#course-category-listings h3,
p{
	color:white;
}
.category h3{
	border-top:1px white solid;
}
.navbar {
	position:absolute;
	left:0;
}
.navbar .btn, .navbar .btn-group {
	margin-top:0;
}
.brand{
	position:absolute;
	right:7px;
	top:3px;
}
.navbar .nav > li > a {
	color: #000;
	text-shadow: none;
	padding:0px 15px;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	background-color: transparent;
	color: #666;
	text-decoration: none;
}
.block{
	padding:15px 0 0 0;
	margin: 1px;
	border-radius:none;
	-moz-border-radius:none;
	-webkit-border-radius:none;
	box-shadow:none;
}
/*Icones Font-Awesome pour les blocs */
.block{
	position:relative;
}

.block:before{
	position:absolute;
	font-family:FontAwesome;
	left:4px;
	font-size:3em;
}
#inst11:before{
	content: "\f02d";
	}
#inst1:before{
	content: "\f0c6";
	}
#inst4:before{
	content: "\f0c9";
}
#inst5:before{
	content:"\f085";
}
#inst6:before{
	content:"\f02e";
}
#inst1099:before{
	content:"\f012";
}
/*Transparence des icônes block-hider-hide et block-iher-show*/
/*Nommées switch_plus.png standard/pix_core/t/switch_minus.png */
/*Dans le fichier pix_cor/t/ */
.block .header {
	text-shadow: none;
	position: relative;
	min-height: 42px;
}
.block .header .block_action .block-hider-hide,
.block.hidden .header .block_action  .block-hider-show {
	display:block;
	min-height: 42px;
	position: absolute;
	width: 136%;
	left: -7px;
	opacity:0;
	top:-10px;
}
.block .content{
	height: 100%;
	left: 0;
	font-size:2em;
	top: 58px;
	width: 300px;
	position: fixed;
	z-index: 110;
	padding:4px 2px;
}
.block .content li{
	border-bottom: 1px solid white;
	line-height:20px;
}
.block .content li ul li{
	border-bottom:none;
}
.block_course_list .content li {
	text-align: left;
}
/* Block Summary */
.block_course_summary.block.no-header .content {
    margin: 0 auto;
    position: relative;
    text-align: justify;
    top: 3em;
    width: 100%;
}
.loginbox h2{
	width:80%;
}
#region-main .loginbox h2, .loginbox .subcontent {
    color:white;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background:transparent;
}
.loginbox .loginsub, .loginbox .guestsub, .loginbox .forgotsub, .loginbox .potentialidps {
    width: 80%;
}
.form-label{
	color:#ecf0f1;
}
.numberofcourse{
	display: none;
}
h1{
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
	border-top: 1px solid #eaeaea;
	position:relative;
	z-index: 100;
}
.nav li  a.dropdown-toggle{padding-left:0;}
.navbar .nav{
	margin:0 auto;
        float:none;
}
.navbar {
	display:table;
}
#page-footer p {
    color: grey;
    font-size: 1.5em;
    font-variant: small-caps;
}
#page-footer {
    background: none repeat scroll 0 0 black;
    border-top: medium none;
    height: 60px;
    margin-top: 0;
    padding: 0;
}
.coursebox{
	border:none;
	border-radius:none;
}

/*Media queries*/
@media screen and (max-width: 767px) {
	body {
		background-image: url([[pix:theme|blurredFacMobile]]);
	}
}

@media screen and (max-width: 500px){
	.navbar-inner{
		float: right;
	}
	#block-region-side-pre{
		float:right;
		display:block;
	}
	h1{
		padding-top: 32px;
		font-size: 30px;
	}
	.block .content{
		top: 98px;
		height: 79%;
	}
	.brand{
		display: none;
	}
}
@media screen and (min-width: 1300px){
	.brand{
		right: 238px;
	}
	.block_course_summary.block.no-header .content {
    		width: 60%;
	}
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
